@page
@model IC.WebJob.Pages.Identity.SysFunctionUsers.IndexModel
@await Component.InvokeAsync("FunctionFavorite")
<div class="card mt-2">
    <div class="card-body pt-0">
        @if(Model.SysFunctionGetMenuByUsersList != null && Model.SysFunctionGetMenuByUsersList.Any())
        {
            @Html.AntiForgeryToken()
            <ul id="functions-favorite" data-url="@Url.Page(pageName: "Index", pageHandler: "UpdateOrder")" class="list-unstyled mb-0">
                @foreach (var item in Model.SysFunctionGetMenuByUsersList)
                {
                    <li id="@item.Id" class="sortable-item">
                        <div class="d-flex py-2 align-items-center border-top border-300">
                            <span class="fas fa-grip-lines fs--2 text-secondary me-3"></span>
                            <a href="@item.Url" title="Kéo thả để sắp xếp vị trí chức năng ưa thích @item.FunctionName" class="mb-0 text-900 text-decoration-none fw-semi-bold">@item.FunctionName</a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
@section Scripts{
    <script src="~/vendors/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(() => {
            sortableBlock('#functions-favorite')
        })
    </script>
}