@page
@model IC.WebJob.Pages.Identity.SysRoles.AssignFunctionsModel
@{
    Layout = null;
}
@if (Model.Data != null && Model.Data.Any())
{
    <form method="post"
          data-ajax="true"
          data-ajax-url="@Url.Page(pageName: "AssignFunctions")"
          data-ajax-method="post" data-ajax-begin="onBegin(this)"
          data-ajax-success="onSuccessed(this, xhr)">
        <div class="modal-header">
            <h5 class="modal-title">Gán chức năng cho vai trò @Model.RoleGetByIdDto.Name</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Đóng"></button>
        </div>
        <div class="row gx-2 align-items-center ms-2 mt-2">
            <div class="col-12 col-md-6 col-lg-4 mt-lg-0 col-xl-10 did-floating-label-content">
                <input class="form-control did-floating-input" id="QuickSearch" oninput="quickSearch()" placeholder="Từ khóa" type="search" />
                <label for="QuickSearch" class="did-floating-label">Từ khóa</label>
            </div>
        </div>
        <div class="modal-body mt-0">
            @foreach (var item in Model.Data)
            {
                <div data-filter-item class="form-check">
                    @if (Model.RoleGetByIdDto.SysFunctionsByRoleList != null && Model.RoleGetByIdDto.SysFunctionsByRoleList.Any() && Model.RoleGetByIdDto.SysFunctionsByRoleList.Exists(x => x == item.Id))
                    {
                        <input class="form-check-input" id="inlineCheckbox@(item.Id)" name="Command.SelectedFunctions" type="checkbox" value="@item.Id" checked />
                    }
                    else
                    {
                        <input class="form-check-input" id="inlineCheckbox@(item.Id)" name="Command.SelectedFunctions" type="checkbox" value="@item.Id" />
                    }
                    @if (!string.IsNullOrWhiteSpace(item.IconPath))
                    {
                        <i class="@item.IconPath"></i>
                    }
                    <label class="form-check-label" for="inlineCheckbox@(item.Id)">
                        @Html.Raw(item.FunctionNameByLevel)
                    </label>
                </div>
            }
            <input type="hidden" asp-for="Command.Id" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Đóng</button>
            <button class="btn btn-primary" type="submit">Lưu</button>
        </div>
    </form>
}