@using IC.Application.Features.IdentityFeatures.Roles.Queries
@model List<RoleGetAllDto>
@{
    Layout = null;
}
<table id="sticky-table" class="main-table table table-striped table-hover mb-0" data-rows="@Model.Count.NumberFormat()">
    <thead class="text-black">
        <tr>
            <th class="pt-1 pb-1" colspan="4">
                <div class="row flex-between-center">
                    <div class="col-auto col-sm-auto d-flex align-items-center pe-0">
                            <h6 class="mb-0 text-nowrap total-rows fw-semi-bold ps-1">Tìm thấy <span class="text-danger">@((Model == null || Model.Count <= 0) ? "0" : Model.Count.NumberFormat())</span> bản ghi</h6>
                    </div>
                    <div class="col-auto text-end ps-0 justify-content-end">
                        <div class="d-flex align-items-center">
                            <div class="bulk-select-replace-element d-flex align-items-center">
                                <button class="btn btn-primary no-focus ms-2" type="button"
                                        onclick="return modalGet(this, '@Url.Page(pageName: "Create")', 'Thêm vai trò')"
                                        title="Thêm vai trò">
                                    <i class="fas fa-plus"></i><span class="d-none d-sm-inline-block ms-1">Thêm</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th class="align-middle text-nowrap">Tên vai trò</th>
            <th class="align-middle text-nowrap">Mô tả</th>
            <th class="align-middle text-nowrap text-center">Chức năng</th>
            <th class="align-middle white-space-nowrap pe-3"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr id="@item.Id" class="align-middle">
                    <td class="text-nowrap">
                        <span class="mb-0 fw-semi-bold">@Html.DisplayFor(modelItem => item.Name)</span>
                    </td>
                    <td class="align-middle text-nowrap">
                        <span class="mb-0 fw-semi-bold">@Html.DisplayFor(modelItem => item.Description)</span>
                    </td>
                    <td class="align-middle text-nowrap text-center">
                        <a href="javascript:void(0)"
                           onclick="return modalGet(this, '@Url.Page(pageName: "AssignFunctions", values: new { Id = @item.Id })', 'Gán chức năng cho vai trò @item.Name')"
                           title="Gán chức năng cho vai trò @item.Name">
                            <i class="far fa-edit text-500"></i>
                        </a>
                    </td>
                    <td class="align-middle white-space-nowrap text-end pe-3">
                        <button class="btn btn-link p-0" type="button"
                                onclick="return modalGet(this, '@Url.Page(pageName: "Edit", values: new { Id = @item.Id })', 'Cập nhật Vai trò @item.Name')"
                                title="Cập nhật Vai trò @item.Name">
                            <i class="far fa-edit"></i>
                        </button>
                        @if (item.Name.ToLower().Trim() != "admin")
                        {
                            <a href="javascript:void(0)" class="btn btn-link p-0 ms-2"
                               data-ajax="true"
                               data-ajax-url="@Url.Page(pageName: "Index", pageHandler: "Delete", values: new { Id = @item.Id })"
                               data-ajax-method="post"
                               data-ajax-begin="setRequestHeader(this, xhr)"
                               data-ajax-success="onSuccessed(this, xhr)"
                               data-ajax-confirm="Xác nhận xóa vai trò @item.Name"
                               title="Xóa vai trò @item.Name">
                                <i class="far fa-trash-alt text-danger"></i>
                            </a>
                        }
                        else
                        {
                            <span class="btn btn-link p-0 ms-2"
                                  title="Không thể xóa Vai trò @item.Name">
                                <i class="far fa-trash-alt text-500"></i>
                            </span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="align-middle text-warning fs--1 not-found text-center">
                <td colspan="4">Chưa có dữ liệu</td>
            </tr>
        }
    </tbody>
</table>
