@page
@model IC.WebJob.Pages.Identity.SysLogs.IndexModel
@await Component.InvokeAsync("FunctionFavorite")
<div class="card mt-2">
	<div class="card-header pt-1 car-header-padding">
		<div class="row gx-2 border-bottom border-200 search-title-container">
			<div class="col search-title-bar">Tìm kiếm</div>
		</div>
		<form method="get" class="justify-content-between search-form">
			<div class="row gx-2 align-items-center mt-1">
				<div class="col-12 mt-3 col-md-6 col-lg-4 mt-lg-0 col-xl-3 did-floating-label-content">
					<input class="form-control did-floating-input" asp-for="Query.Keywords" asp-placeholder-for="Query.Keywords" type="search" />
					<label asp-for="Query.Keywords" class="did-floating-label"></label>
				</div>
				<div class="col-12 mt-3 col-md-6 col-lg-4 mt-lg-0 col-xl-3">
					<button class="btn btn-secondary me-1" type="submit">Tìm kiếm</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card-body p-0">
		@if (Model.PaginatedResult != null && Model.PaginatedResult.Data.Any())
		{
			<table id="sticky-table" class="main-table table table-striped table-hover mb-0">
				<thead class="text-black">
					<tr>
						<th class="pt-1 pb-1" colspan="2">
							<div class="row flex-between-center">
								<div class="col-auto col-sm-auto d-flex align-items-center pe-0">
									<h6 class="mb-0 text-nowrap total-rows fw-semi-bold">Tìm thấy <span class="text-danger">@Model.PaginatedResult.TotalCount.NumberFormat()</span> bản ghi</h6>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<th class="align-middle">Ứng dụng</th>
						<th class="align-middle">Nội dung</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.PaginatedResult.Data)
					{
						<tr class="align-middle">
							<td class="text-nowrap">
								<div class="mb-0 d-flex flex-row gap-2">
									<small class="mb-0">
										@item.TimeStamp.ToStringFormat("dd/MM/yyyy HH:mm:ss")
									</small>
								</div>
								@Html.DisplayFor(modelItem => item.Application)
							</td>
							<td>
								<span style="color:chocolate">[@Html.DisplayFor(modelItem => item.Level)] @Html.DisplayFor(modelItem => item.SourceContext)</span><br />
								@Html.DisplayFor(modelItem => item.Message)
								<div class="align-items-center">
									@if (!string.IsNullOrEmpty(item.Exception))
									{
										<br />
										<textarea asp-for="@item.Exception" rows="4" cols="160" readonly></textarea>
									}
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
			@await Html.PartialAsync("_PaginationPartial", Model.PagingInput)
		}
		else
		{
			<div class="text-center not-found">
				<p class="mt-3">Không tìm thấy dữ liệu.</p>
			</div>
		}
	</div>
</div>